:root {
  --logotext: #485179;
  --naver: #00c73c;
  --naverS: #00ae35;
  --kakao: #ffe900;
  --kakaoS: #dfcc00;
  --wisslx: #1f1e2c;
  --wisslxS: #1b1a27;
}

.special-qatar .wc-title svg {
  width: 110px;
}